/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: scroll;
}

.modal-content {
  height: 80%;
  background: rgb(7, 7, 7);
  color: rgb(218, 208, 208);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.modal-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
} */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* Prevent scrolling on the overlay */
}

.modal-content {
  height: 80%; /* Set a fixed height for the modal content */
  overflow-y: auto; /* Enable vertical scrolling */
  background: rgb(81, 78, 78);
  color: rgb(218, 208, 208);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;

  /* Hide scrollbar for WebKit browsers */
  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.modal-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
